<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sweep2d.Game"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:targetSdkVersion="19" android:minSdkVersion="19"/>

    <application
        android:allowBackup="true"
        android:label="Sweep_Test">
        <activity android:name="Sweep2DLauncherViewActivity">
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:launchMode="singleTask"
                android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
